<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h2>
    <i class="fas fa-user-circle"></i>
    <f:translate key="tx_t3gtd_template_user_config.show" />
    <small>{thisUser.name} ({thisUser.email})</small>
</h2>
<f:flashMessages />
<f:form action="update" name="userConfig" object="{userConfig}" >
    <div class="form-group">
        <label for="defaultContext"><f:translate key="tx_t3gtd_template_user_config.set_default_context" /></label>
        <f:switch expression="{langKey}">
            <f:case value="0">
                <f:form.select id="defaultContext" property="defaultContext"
                               options="{contextList}" optionLabelField="nameDe" class="form-control"/>
            </f:case>
            <f:case value="1">
                <f:form.select id="defaultContext" property="defaultContext"
                               options="{contextList}" optionLabelField="nameEn" class="form-control"/>
            </f:case>
        </f:switch>
    </div>
    <f:form.submit value="{f:translate(key:'tx_t3gtd_template_user_config.save_default_context')}"
                   class="btn btn-default btn-primary" />
</f:form>
<hr/>
<h3><f:translate key="tx_t3gtd_template_user_config.edit_your_contexts" /></h3>
<table id="contextList" class="table table-striped" >
    <tr>
        <th><f:translate key="tx_t3gtd_domain_model_context.name_de" /></th>
        <th><f:translate key="tx_t3gtd_domain_model_context.name_en" /></th>
        <th> </th>
        <th> </th>
    </tr>

    <f:for each="{contextList}" as="ctx">
        <tr class="contextRow">
            <td>
                <f:link.action controller="Context" action="edit" arguments="{context : ctx}"> {ctx.nameDe}
                </f:link.action>
            </td>
            <td>
                <f:link.action controller="Context" action="edit" arguments="{context : ctx}"> {ctx.nameEn}
                </f:link.action>
            </td>
            <td class="editContextRow">
                <f:link.action class="editContextLink" controller="Context" action="edit" arguments="{context : ctx}">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    <f:translate key="tx_t3gtd_domain_model_context.edit" />
                </f:link.action>
            </td>
            <td class="deleteContextRow">
                <f:link.action class="deleteContextLink" controller="Context" action="delete" arguments="{context : ctx}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <f:translate key="tx_t3gtd_domain_model_context.delete" />
                </f:link.action>
            </td>
        </tr>
    </f:for>
</table>

<f:link.action id="addNewContext" controller="Context" action="new"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    <f:translate key="tx_t3gtd_domain_model_context.new_context" />
</f:link.action>

</f:section>
</div>
