<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:c="http://www.w3.org/1999/html"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1><i class="fas fa-user-circle"></i><f:translate key="tx_t3gtd_domain_model_useraccount.list" /></h1>

<f:flashMessages />

<table  class="table table-striped" >
	<tr>
		<th><f:translate key="tx_t3gtd_domain_model_useraccount.messages" /></th>
		<th><f:translate key="tx_t3gtd_domain_model_useraccount.username" /></th>
		<th><f:translate key="tx_t3gtd_domain_model_useraccount.user_fullname" /></th>
	</tr>

	<f:for each="{userAccounts}" as="userAccount">
		<tr>
			<td>
				<f:if condition="{thisUser.uid} != {userAccount.uid}">
					<f:link.action controller="UserMessage" action="list"
								   arguments="{thisUser : thisUser, otherUser : userAccount}">
					<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</f:link.action>
					<f:for each="{userAccount2messages}" as="messages" key="uid">
						<f:if condition="{uid} == {userAccount.uid}">
							<f:if condition="{messages} > 0">
								<span class="badge">{messages}</span>
							</f:if>
						</f:if>
					</f:for>
				</f:if>
			</td>
			<td>
				<f:if condition="{thisUser.uid} == {userAccount.uid}">
					<f:then>
						{userAccount.username}
					</f:then>
					<f:else>
						<f:link.action controller="UserMessage" action="list"
									   arguments="{thisUser : thisUser, otherUser : userAccount}">
							{userAccount.username}
						</f:link.action>
					</f:else>
				</f:if>
			</td>
			<td>
				{userAccount.name}
			</td>
		</tr>
	</f:for>
</table>

</f:section>

</div>
