<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-gtd" >
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_useraccount.user_email" />
		</td>
		<td>
		{userAccount.email}
		</td>
	</tr>
	<!--
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_useraccount.user_password" />
		</td>
		<td>
		{userAccount.userPassword}
		</td>
	</tr>
	-->
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_useraccount.user_fullname" />
		</td>
		<td>
		{userAccount.name}
		</td>
	</tr>
</table>
</div>
