<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-gtd" >
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.title" />
		</td>
		<td>
		{task.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.text" />
		</td>
		<td>
		{task.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.focus" />
		</td>
		<td>
		{task.focus}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.task_state" />
		</td>
		<td>
		{task.taskState}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.last_task_state" />
		</td>
		<td>
		{task.lastTaskState}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.task_energy" />
		</td>
		<td>
		{task.taskEnergy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.task_time" />
		</td>
		<td>
		{task.taskTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.due_date" />
		</td>
		<td>
		{task.dueDate -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.order_id_project" />
		</td>
		<td>
		{task.orderIdProject}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3gtd_domain_model_task.order_id_task_state" />
		</td>
		<td>
		{task.orderIdTaskState}
		</td>
	</tr>
</table>
</div>
